/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.create-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0); /* Fallback color */
  background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
}

.create-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 2.5%;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-input {
  width: 100%;
}

.sort-button:hover {
  cursor: pointer;
  background-color: #eee;
}

.sort-button-selected {
  cursor: pointer;
  background-color: #eee;
}

.table-button {
  height: 100%;
  width: 100%;
  border: none;
  color: red;
  background-color: pink;
}

.table-button-pressed {
  height: 100%;
  width: 100%;
  border: none;
  color: darkgreen;
  background-color: palegreen;
}

.table-button-pressed:hover {
  font-weight: bold;
}

.table-button:hover {
  font-weight: bold;
}

.table-add-button {
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.table-add-button:hover {
  border-style: double;
  background-color: #ebebeb;
}

.table-component {
  border: 1px solid black;
}

.table-td {
  padding: none;
}

.table-drop-button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
}

.table-drop-button:hover {
  font-weight: bold;
  background-color: #ebebeb;
}

.table-input {
  height: 100%;
  width: 100%;
  border: none;
}

.table-input:focus-visible {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

.card-body,
.card-input-content,
.card-input-groupings,
.card-modal,
.card-table-container,
.card-table-content,
.mobile-table {
  display: none;
}

@media (width <= 1024px) {
  .card-body,
  .card-input-content,
  .card-input-groupings,
  .card-modal,
  .card-table-container,
  .card-table-content {
    display: block;
  }

  .card-body {
    background-color: white;
    min-height: 25vh;
    width: 80vw;
    margin: auto;
  }

  .card-input-content {
    min-width: 50%;
    text-align: center;
  }

  .card-input-groupings {
    display: flex !important;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  .card-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0 0 0); /* Fallback color */
    background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
  }

  .card-table-container {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 16.5vh;
  }

  .card-table-content {
    padding-top: 15px;
  }

  .dollar-sign {
    font-size: 2vh;
  }

  .mobile-table {
    border: 1px solid black;
    display: table-cell;
  }

  .table-component {
    display: none;
  }

  .table-input {
    font-size: 1.85vh;
  }
}
