<table style="width:100%">
    <tr>
        <th>Apartment Complex</th>
        <th>Availability</th>
        <th>Rent</th>
        <th>Washer/Dryer</th>
        <th>Two Bathrooms</th>
        <th>Connected Bathrooms</th>
        <th>Porch</th>
    </tr>
    <tr>
        <td>example name</td>
        <td><ApartmentTable::TableInput /></td>
        <td><ApartmentTable::TableInput @rent={{true}} /></td>
        <td><ApartmentTable::TableButtons /></td>
        <td><ApartmentTable::TableButtons /></td>
        <td><ApartmentTable::TableButtons /></td>
        <td><ApartmentTable::TableButtons /></td>
    </tr>
</table>