<ApartmentTable @model={{this.model}}/>

{{!-- <div style="background-color: red; display:flex;">
    <input type="text" style="background-color: blue; width: 100%;" />
    <div>THERE</div>
</div> --}}
